extends ../../../node_modules/jade-bootstrap/_bootstrap.pug
append styles
  link(href='./css/login.css', rel='stylesheet')
  head
    title= title
  body
  .container
    form.form-signin(action='/deleteUser', method='POST')
      h2.form-signin-heading= heading
      h4.form-signin-heading= 'Username: ' + username + " "
      input#inputEmail.form-control(type='hidden', name='username', value=username, placeholder='Enter Existing Username')
      input#inputEmail.form-controlinput(type='submit', value='DELETE')
      br
      a(href='/listUsers') Cancel